.tiles {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cardLeft, .cardRight{
  margin-top: 20px;
  padding: 10px;
  border-radius: 30px;
  background-color: #362f2ff7;
  position: relative;

}


.smallImg{
  /* position: absolute; */
  width: 90%;
  
  margin: auto;
  height: 50px;
  background-image: url('../../assets/smallImg.png');
}

.testimonials{
  width: 100%;
  height: 500px;
  background-color: #d0c38a;
  padding-top: 15px;
}

@media (min-width: 800px){
  .tiles{
    width: 80%;
    background-image: url('../../assets/zigzagstretched.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 15% 300px;

  }
  .cardLeft, .cardRight{
    width: 300px;
  }

  .cardRight{
    margin-left: calc(95% - 300px)
  }
  .cardLeft{
    margin-left: 5%;
  }

}
@media (min-width: 1200px) {

  .tiles{
    background-image: url('../../assets/zigzag.png');
    background-position: -150px 150px;
  }

  .cardLeft, .cardRight{
    width: 400px;
  }
}
@media (min-width: 1400px) {
  .tiles{
    background-position: 50% 300px;
    width: 900px;
    margin: auto;
  }
}