.tiles {
  display: flex;
  flex-direction: column;

}

.cardLeft, .cardRight{
  margin-top: 20px;
  padding: 10px;
  border-radius: 30px;
  background-color: rgba(39, 39, 38, 0.84);
  position: relative;

}


.smallImg{
  /* position: absolute; */
  width: 90%;
  
  margin: auto;
  height: 50px;
  background-image: url('../../assets/smallImg.png');
}

.testimonials{
  width: 100%;
  height: 500px;
  background-color: #d0c38a;
  padding-top: 15px;
}

@media (min-width: 800px){
  .tiles{
    background-image: url('../../assets/zigzagstretched.png'); 

    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 400px;

  }
  
  .cardLeft, .cardRight{
    width: 80%;
  }

  .cardRight{
    margin-left: 50%;
  }
}
@media (min-width: 1200px) {
  .tiles{
    background-image: url('../../assets/zigzag.png');
    background-position: 50% 150px;
  }
}
@media (min-width: 1400px) {
  .tiles{
    background-position: 50% 300px;
  }

  .cardLeft, .cardRight{
    width: 50%;
  }
}