.root{
  flex-basis: 100%;
  min-height: 350px;
  margin: 20px 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.187);
  color: white;
  border: 1px solid gold;
  padding: 10px;
  overflow: hidden;
  text-align: justify;
}

@media (min-width: 500px) {
  .root{
    padding: 20px;
    flex-basis: 50%;
  }
}
@media (min-width: 1200px) {
  .root{
    flex-basis: 26%;

  }
}