.root{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 50vh;
  background-color: black;
}

.logos, .logoLeft{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logos{
  flex-direction: column;
}

.logosLeft{
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo, .logoLeft{
  width: 50px;
  
}

.logoLeft{
  margin-right: 20px;
}

.titleLeft{
  font-size: 40px;
}

.logosLeft{
  flex-direction: row;
}

.title {
  padding: 20px;
  font-size: 35px;
}