.root {
  background-color: white;
}
.hero {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 35vh;
  overflow: hidden;

}

.push{
  height: 15vh;
}

.nav{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 40vh;
  min-height: 250px;
  position: relative;
}

.navlinkLeft, .navlinkRight{
  z-index: 2;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 44px;
  line-height: 60px;
  color: #CD853F;
  background: -webkit-linear-gradient(270deg, #7C5D00 -1.67%, #C9A401 -1.67%, #BEA000 25.86%, #BFA701 49.16%, #AF9B21 68.23%, #C9A800 82.53%, #DBB701 99.99%, #BCA325 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navlinkLeft span, .navlinkRight span{
  width: 100%;
}
.heroImg {
  width: 100%;
}

@media (min-width: 1000px) {
  .nav {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .navlinkLeft, .navlinkRight{
    justify-content: space-between;
    font-size: 60px;
    flex-basis: 50%;

  }
  
  .navlinkRight span{
    text-align: right;
  }
  .navlinkLeft span{
    text-align: left;
  }
}