.root{
    position: sticky;
    width: 100%;
    bottom: 0vh;
    left: 0;
    background-color: black;
    overflow: hidden;
}

.data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 40px;
    opacity: 0;
}

.data p{
    margin: 0;
    padding: 0;
}
.p{
    padding-top: 5px;
    font-size: 18px;
}

@media (min-width: 500px){
    /* .root{
        min-height: fit-content;
    } */
    .p{
        padding-top: 5px;
        font-size: 20px;
    }
}

@media (min-width: 800px){
    .data{
        flex-direction: row;
    }
}