@font-face {
  font-family: 'JuliusSansOne';
  src: url('./assets/fonts/JuliusSansOne-Regular.ttf');
}
body >* {
  font-family: 'JuliusSansOne';
}
#root {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
