body >* {
  font-family: 'Kumbh Sans', sans-serif;
  color: white;
  background-color: rgb(31, 31, 31);
}

#root {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.app{
  position: relative;
}
